body {
  font-family: Arial, sans-serif;
  max-width: 700px;
  margin: 40px auto;
}

textarea {
  width: 100%;
}

button {
  padding: 10px 18px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}


.output-box {
  margin-top: 25px;
  padding: 18px;
  border: 1px solid #ddd;
  background: #fafafa;
  border-radius: 8px;
  font-size: 18px;    
}